* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(155, 6, 6);
    color: rgb(0, 0, 0);
    padding: 1rem;
}

header ul {
    display: flex;
    list-style: none;
}

header ul li {
    padding: 1rem;
}

header ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.250rem;
}

.botao {
    display: none;
}

@media (max-width: 768px) {
    header ul {
        position: absolute;
        left: 0;
        top: -100%;
        width: 100%;
        height: calc(50vh-4rem);
        flex-direction: column;
        background-color: rgb(155, 6, 6);
        transition: .3seg;
    }
    header.ativo ul {
        opacity: 1;
        top: 70px
    }
    header {
        background-color: rgb(155, 6, 6);
    }
    .botao {
        display: block;
        position: relative;
        width: 3rem;
        height: 3rem;
        background-image: url("https://img.icons8.com/doodle/48/000000/iron-man.png");
    }
    header.ativo .botao {
        background-image: url("https://img.icons8.com/doodle/48/000000/iron-man.png");
    }
}